* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yellowtail', cursive;
    font-size: 27px;
    font-weight: lighter;
}

body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.square-top {
    position: absolute;
    height: 50vh;
    width: 25vw;
    right: 10px;
    background-image: linear-gradient(to right, rgba(17,90,213,1), rgba(7,138,229,0.8));
    border-radius: 9vh;
    transform: rotate(30deg);
    right: -21vh;
    top: -100px;
}

.square-bottom {
    position: absolute;
    height: 50vh;
    width: 25vw;
    right: 10px;
    background-image: linear-gradient(to right,rgba(17,90,213,1), rgba(7,138,229,0.8));
    border-radius: 9vh;
    transform: rotate(55deg);
    left: -30vh;
    bottom: -25px;
}

.container {
    width: 25vw;
    padding: 40px;
}

.container h2 {
    margin: 30px;
    text-align: center;
    font-size: 40px;
}

input[type=text], input[type=password] {
    position: relative;
    width: 100%;
    padding: 15px;
    margin: 10px 0 25px 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 7px;
    background: #f1f1f1;

}

button {
    background-image: linear-gradient(to right, rgba(17,90,213,1), rgba(7,138,229,0.9));
    padding: 10px 30px;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    border: none;
    margin-bottom: 20px;
}

a {
    color: rgba(7,138,229);
    text-decoration: none;
}

a:hover {
    color: red;
}

a:active {
    color: green;
}

.icon {
    position: relative;
}

span {
    top: 25%;
    right: 20px;
    position:absolute;
}

.redirect-button {
    background-color: white;
}